.cart-title {
    width: 100%;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
}

.cart-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.products-in-cart {
    width: 69%;
    border: 1px solid orange;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #1e1b1b80;
    height: -moz-fit-content;
    height: fit-content;
}
.prod-items {
    width: 100%;
    padding: 0.5%;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5%;
    border-bottom: 1px solid orange;
}

.item-i {
    width: 3%;
    text-align: center;
    border: 1px solid orange;
    border-radius: 5rem;
    background-color: #181a1c;
}

.item-info {
    width: 75%;
    display: flex;
    align-items: start;
    cursor: pointer;
}
.item-info img {
    width: 20%;
    height: 100%;
    border-radius: 0.5rem;
    border: 0.2px solid orange;
}
.item-detail-p {
    width: 80%;
    height: 100%;
    padding: 1%;
}
.product-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px rgb(88 68 68), 0 0 2px rgb(88 19 19), 0 0 3px rgb(164 45 45), 0 0 5px rgb(150 33 33);
    border-bottom: 1px solid wheat;
}
.product-title h3 {
    color: wheat;
    padding-bottom: 1%;
}

.product-description {
    padding-top: 1%;
    color: wheat;
    font-size: 80%;
    text-align: center;
}
.product-other {
    padding-top: 1%;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.product-other div {
    color: #d2b06f;
    font-size: 80%;
}

.number-control {
    width: 15%;
}
.stock-control,
.amount-control {
    display: flex;
    color: #d2b06f;
    align-items: center;
    justify-content: center;
    margin: 7%;
}

.incDec-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 150%;
}
.incDec-control span {
    font-size: 100%;
}
.incDec-control button {
    width: 2rem;
    height: 2rem;
    background-color: #181a1c;
    border-radius: 10rem;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border: 1px solid orange;
}
