.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  padding: 1%;
  border: 1px solid orange;
  border-radius: 0.5rem;
  width: 40%;
  background-color: #181a1c;
  z-index: 99;
  position: absolute;
}
.app-products-buy {
  width: 100%;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}
form {
  height: -moz-fit-content;
  height: fit-content;
}
.person-details {
  width: 90%;
  margin: auto;
}
h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 90%;
}
.person-details div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-details input {
  background-color: #181a1c;
  width: 100%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.4rem;
  outline: none;
  font-size: 90%;
  text-align: center;
  margin: 2% auto;
}

.person-details div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-details {
  margin-top: 1%;
  width: 100%;
}
.card-details h2 {
  margin-bottom: 2%;
}
.card-data {
  border: 1px solid orange;
  margin: 0 auto;
  border-radius: 0.5rem;
  background: rgb(0, 9, 36);
  background: linear-gradient(90deg, rgb(0, 9, 36) 6%, rgb(9, 9, 121) 34%, rgb(0, 212, 255) 100%);
  width: 55%;
  height: 7rem;
}
.number {
  width: 85%;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}
.number img {
  background-color: #fff;
  width: 10%;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.number input {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.other-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.other-data {
  margin-bottom: 5%;
}
.valid-data,
.cvv-data {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50%;
}
.other-data input {
  width: 50%;
  font-weight: 700;
  font-size: 130%;
}
form button {
  width: 40%;
  font-size: 90%;
  background-color: #3f1010;
  border: 1px solid orange;
  border-radius: 0.5rem;
  padding: 1%;
  cursor: pointer;
  display: block;
  margin: 5% auto;
}
