.productt-wrap {
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
}
.link-navigation {
    margin: 3% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
