.error-title {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    background: #181a1c;
    padding: 1rem;
    border: 2px solid orange;
    border-radius: 1rem;
    margin: 15vh auto;
}
